.bg-red {
  background: linear-gradient(to right, #5e4956, rgb(255, 0, 43)) !important;
}

.bg-blue {
  background: linear-gradient(to right, #5e4956, #4776e6) !important;
}

.bg-green{
    background: linear-gradient(to right, #5e4956, #36A478) !important;
}

.bg-orange{
    background: linear-gradient(to right, #5e4956, #FF7043) !important;
}