.bg-image {
  background-image: url("../../images/entrance.jpeg");
  background-size: cover;
}

.contact-title {
  letter-spacing: 1.5px;
}

.hover-animation {
  transition: transform .5s;
  min-height: 220px;
}

.hover-animation:hover {
  transform: scale(1.1);
}
