.bg-image {
  background-image: url("../../images/entrance.jpeg");
  background-size: cover;
  background-color: #fff0eb;
  background-blend-mode: luminosity;
}

.contact-title {
  letter-spacing: 1.5px;
}

.hover-animation {
  transition: transform 0.5s;
  min-height: 220px;
}

.hover-animation:hover {
  transform: scale(1.1);
}
