.card-style {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 400px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 1024px) {
    min-height: 400px;
  }

  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(215, 217, 255, 0.3) 0%,
          #e4e2fc 100%
        );
      }
    }
  }
  .card-title {
    font-weight: 800;
  }
  .card-meta {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: "E4E2FC";
    background: linear-gradient(
      0deg,
      rgba(215, 217, 255, 0.1) 0%,
      rgba(228, 226, 252, 0.8)
    );
  }
}

.card-img {
  min-height: 400px;

  @media (max-width: 768px) {
    min-height: 350px;
    width: 120%;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }
}

/* .bg-cloud {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath3125%26quot%3b)' fill='none'%3e%3ccircle r='88.815' cx='1584.72' cy='1023.2' fill='url(%26quot%3b%23SvgjsLinearGradient3126%26quot%3b)'%3e%3c/circle%3e%3ccircle r='84.96' cx='1332.37' cy='655.18' fill='url(%26quot%3b%23SvgjsLinearGradient3127%26quot%3b)'%3e%3c/circle%3e%3ccircle r='62.645' cx='1539.01' cy='258.98' fill='url(%26quot%3b%23SvgjsLinearGradient3128%26quot%3b)'%3e%3c/circle%3e%3ccircle r='78.635' cx='798.4' cy='956.96' fill='url(%26quot%3b%23SvgjsLinearGradient3129%26quot%3b)'%3e%3c/circle%3e%3ccircle r='87.045' cx='1465.6' cy='493.8' fill='rgba(255%2c 240%2c 235%2c 1)'%3e%3c/circle%3e%3ccircle r='31.065' cx='1871.79' cy='570.99' fill='url(%26quot%3b%23SvgjsLinearGradient3130%26quot%3b)'%3e%3c/circle%3e%3ccircle r='42.965' cx='40.36' cy='640.97' fill='url(%26quot%3b%23SvgjsLinearGradient3131%26quot%3b)'%3e%3c/circle%3e%3ccircle r='49.925' cx='1786.66' cy='371.07' fill='url(%26quot%3b%23SvgjsLinearGradient3132%26quot%3b)'%3e%3c/circle%3e%3ccircle r='53.02' cx='356.94' cy='213.21' fill='url(%26quot%3b%23SvgjsLinearGradient3133%26quot%3b)'%3e%3c/circle%3e%3ccircle r='102.34' cx='1302.58' cy='263.12' fill='url(%26quot%3b%23SvgjsLinearGradient3134%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath3125'%3e%3crect width='1920' height='1080' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1407.0900000000001' y1='1023.2' x2='1762.3500000000001' y2='1023.2' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3126'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1162.4499999999998' y1='655.18' x2='1502.2899999999997' y2='655.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3127'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1413.72' y1='258.98' x2='1664.3' y2='258.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3128'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='641.13' y1='956.96' x2='955.6700000000001' y2='956.96' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3129'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1809.6599999999999' y1='570.99' x2='1933.9199999999998' y2='570.99' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3130'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-45.57000000000001' y1='640.97' x2='126.29' y2='640.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3131'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1686.8100000000002' y1='371.07000000000005' x2='1886.5100000000002' y2='371.07000000000005' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3132'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='250.89999999999998' y1='213.21' x2='462.98' y2='213.21' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3133'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1097.8999999999999' y1='263.12' x2='1507.2599999999998' y2='263.12' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3134'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 202%2c 241%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
} */
